html {
  font-family: 'Comfortaa', cursive;
  text-align: center;
  color: grey;
}

h1 {
  font-family: 'Pacifico', cursive;
  text-align: center;
  padding-top: 5px;
  font-size: 45px;
  color: black;
}

.home {
  padding: 150px 50px 15px 50px;
  animation: bounce 3s 1 alternate;
}
.backgroundimg {
  opacity: 0.5;
  background-size: auto;
}
nav {
  position: fixed;
  background-color: lightgrey;
  bottom: 0;
  width: 100%;
  text-align: center;
  min-height: 50px;
  z-index: 1;
  color: grey;
  border: 1px lightgrey;
}

nav li {
  display: inline-block;
  padding: 0px 30px;
}

nav a {
  color: white;
  text-decoration: none;
}

nav ul {
  padding: 0;
}

li {
  text-align: center;
}

section {
  /*height: 600px;*/
  height: 600px;
  /*height: 100%;*/
  border: 1px;
  padding: 5px 100px 200px 100px;
}

.test {
  background: lightblue;
  color: white;
  top: 300px;
  width: 300px;
  height: 300px;
  /*center div on page */
  margin: 0 auto;
  /*center text in div*/
  text-align: center;
}

.current a{
  color: purple;
}

.menu-icon {
  display: block;
  border: none;
  background: transparent;
  color: white;
  font-size: 32px;
  position: fixed;
  bottom: 0;
}

.img-responsive {
  max-width: 100%;
}

img {
  width: 500px;
  height: auto;
}

footer {
  border-top: 30px grey;

}

@media (max-width: 768px){
  nav li {
    display: none;
  .menu-icon {
    display: block;
  }
  }
}
